In [7]:
import pandas as pd

df= pd.read_csv("transfermakt50_use_before_init_list.csv")

df.shape #행열의 개수를 가져옴 : 변수형태

(rows, columns) = df.shape # 튜플로 행열의 개수를 담음

df

,이름,포지션,나이,국가,팀,선수 몸 값
0,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,180.0
1,Erling Haaland,Centre-Forward,23,Norway,Manchester City,180.0
2,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,180.0
3,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0
4,Bukayo Saka,Right Winger,22,England,Arsenal FC,130.0
5,Phil Foden,Right Winger,23,England,Manchester City,130.0
6,Florian Wirtz,Attacking Midfield,21,Germany,Bayer 04 Leverkusen,110.0
7,Jamal Musiala,Attacking Midfield,21,Germany,Bayern Munich,110.0
8,Lautaro Martínez,Centre-Forward,26,Argentina,Inter Milan,110.0
9,Victor Osimhen,Centre-Forward,25,Nigeria,SSC Napoli,110.0
10,Declan Rice,Defensive Midfield,25,England,Arsenal FC,110.0
11,Rodri,Defensive Midfield,27,Spain,Manchester City,110.0
12,Harry Kane,Centre-Forward,30,England,Bayern Munich,110.0
13,Rodrygo,Right Winger,23,Brazil,Real Madrid,100.0
14,Federico Valverde,Central Midfield,25,Uruguay,Real Madrid,100.0
15,Martin Ødegaard,Attacking Midfield,25,Norway,Arsenal FC,95.0
16,Gavi,Central Midfield,19,Spain,FC Barcelona,90.0
17,Eduardo Camavinga,Central Midfield,21,France,Real Madrid,90.0
18,Julián Álvarez,Second Striker,24,Argentina,Manchester City,90.0
19,Aurélien Tchouaméni,Defensive Midfield,24,France,Real Madrid,90.0
20,Rafael Leão,Left Winger,24,Portugal,AC Milan,90.0
21,Bruno Guimarães,Defensive Midfield,26,Brazil,Newcastle United,85.0
22,Moisés Caicedo,Defensive Midfield,22,Ecuador,Chelsea FC,80.0
23,Pedri,Central Midfield,21,Spain,FC Barcelona,80.0
24,Gabriel Martinelli,Left Winger,22,Brazil,Arsenal FC,80.0
25,Enzo Fernández,Central Midfield,23,Argentina,Chelsea FC,80.0
26,Xavi Simons,Attacking Midfield,21,Netherlands,RB Leipzig,80.0
27,Khvicha Kvaratskhelia,Left Winger,23,Georgia,SSC Napoli,80.0
28,William Saliba,Centre-Back,23,France,Arsenal FC,80.0
29,Rúben Dias,Centre-Back,27,Portugal,Manchester City,80.0
30,Bernardo Silva,Attacking Midfield,29,Portugal,Manchester City,80.0
31,Lamine Yamal,Right Winger,16,Spain,FC Barcelona,75.0
32,Luis Díaz,Left Winger,27,Colombia,Liverpool FC,75.0
33,Josko Gvardiol,Centre-Back,22,Croatia,Manchester City,75.0
34,Dominik Szoboszlai,Central Midfield,23,Hungary,Liverpool FC,75.0
35,Nicolò Barella,Central Midfield,27,Italy,Inter Milan,75.0
36,Darwin Núñez,Centre-Forward,24,Uruguay,Liverpool FC,70.0
37,Alexis Mac Allister,Central Midfield,25,Argentina,Liverpool FC,70.0
38,Ronald Araujo,Centre-Back,25,Uruguay,FC Barcelona,70.0
39,Douglas Luiz,Central Midfield,26,Brazil,Aston Villa,70.0
40,Éder Militão,Centre-Back,26,Brazil,Real Madrid,70.0
41,Gabriel Jesus,Centre-Forward,27,Brazil,Arsenal FC,70.0
42,Alexander Isak,Centre-Forward,24,Sweden,Newcastle United,70.0
43,Christopher Nkunku,Attacking Midfield,26,France,Chelsea FC,70.0
44,Frenkie de Jong,Central Midfield,27,Netherlands,FC Barcelona,70.0
45,Alessandro Bastoni,Centre-Back,25,Italy,Inter Milan,70.0
46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,70.0
47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,70.0
48,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,70.0
49,Leroy Sané,Right Winger,28,Germany,Bayern Munich,70.0

In [4]:
#숫자형 데이터에 관한 통계치
df.describe()

             나이      선수 몸 값
count  50.00000   50.000000
mean   24.24000   92.500000
std     2.72973   29.089061
min    16.00000   70.000000
25%    23.00000   70.000000
50%    24.50000   80.000000
75%    26.00000  107.500000
max    30.00000  180.000000

In [5]:
#특정 컬럼의 평균
df['나이'].describe()

count    50.00000
mean     24.24000
std       2.72973
min      16.00000
25%      23.00000
50%      24.50000
75%      26.00000
max      30.00000
Name: 나이, dtype: float64

In [6]:
#50명의 선수 몸 값 더하기
df['선수 몸 값'].sum()

4625.0

In [8]:
#속한 선수들이 가장 많은 나라? 최빈값
df['국가'].mode()

0     Brazil
1    England
dtype: object

In [13]:
# 국적이 브라질인 선수
df[df['국가'] == 'Brazil']

,이름,포지션,나이,국가,팀,선수 몸 값
3,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0
13,Rodrygo,Right Winger,23,Brazil,Real Madrid,100.0
21,Bruno Guimarães,Defensive Midfield,26,Brazil,Newcastle United,85.0
24,Gabriel Martinelli,Left Winger,22,Brazil,Arsenal FC,80.0
39,Douglas Luiz,Central Midfield,26,Brazil,Aston Villa,70.0
40,Éder Militão,Centre-Back,26,Brazil,Real Madrid,70.0
41,Gabriel Jesus,Centre-Forward,27,Brazil,Arsenal FC,70.0

In [15]:
# 나라별로 그룹 재정렬
g = df.groupby('국가')
g.size()

국가
Argentina      4
Brazil         7
Colombia       1
Croatia        1
Ecuador        1
England        7
France         5
Georgia        1
Germany        3
Hungary        1
Italy          2
Netherlands    2
Nigeria        1
Norway         2
Portugal       4
Spain          4
Sweden         1
Uruguay        3
dtype: int64

In [16]:
#표형태로 표현
g.count()

             이름  포지션  나이  팀  선수 몸 값
국가
Argentina     4    4   4  4       4
Brazil        7    7   7  7       7
Colombia      1    1   1  1       1
Croatia       1    1   1  1       1
Ecuador       1    1   1  1       1
England       7    7   7  7       7
France        5    5   5  5       5
Georgia       1    1   1  1       1
Germany       3    3   3  3       3
Hungary       1    1   1  1       1
Italy         2    2   2  2       2
Netherlands   2    2   2  2       2
Nigeria       1    1   1  1       1
Norway        2    2   2  2       2
Portugal      4    4   4  4       4
Spain         4    4   4  4       4
Sweden        1    1   1  1       1
Uruguay       3    3   3  3       3

In [17]:
# 숫자형 데이터들의 합
g.sum()

              나이  선수 몸 값
국가
Argentina     98   350.0
Brazil       173   625.0
Colombia      27    75.0
Croatia       22    75.0
Ecuador       22    80.0
England      172   800.0
France       119   510.0
Georgia       23    80.0
Germany       70   290.0
Hungary       23    75.0
Italy         52   145.0
Netherlands   48   150.0
Nigeria       25   110.0
Norway        48   275.0
Portugal     109   320.0
Spain         83   355.0
Sweden        24    70.0
Uruguay       74   240.0

In [21]:
# 선수의 몸값의 합 내림차순으로 보여주기
c = df.groupby('팀')
c.sum()
c['선수 몸 값'].sum().sort_values(ascending=False)

팀
Real Madrid            780.0
Manchester City        745.0
Arsenal FC             565.0
FC Barcelona           385.0
Liverpool FC           360.0
Bayern Munich          290.0
Inter Milan            255.0
Chelsea FC             230.0
SSC Napoli             190.0
Paris Saint-Germain    180.0
Newcastle United       155.0
Bayer 04 Leverkusen    110.0
AC Milan                90.0
RB Leipzig              80.0
Manchester United       70.0
Aston Villa             70.0
Tottenham Hotspur       70.0
Name: 선수 몸 값, dtype: float64