In [42]:
import pandas as pd

df= pd.read_csv("transfermakt50_use_before_init_list.csv")

df.shape #행열의 개수를 가져옴 : 변수형태

(rows, columns) = df.shape # 튜플로 행열의 개수를 담음

In [43]:
df.head()
df.sort_index().head()

,이름,포지션,나이,국가,팀,선수 몸 값
0,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,180.0
1,Erling Haaland,Centre-Forward,23,Norway,Manchester City,180.0
2,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,180.0
3,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0
4,Bukayo Saka,Right Winger,22,England,Arsenal FC,130.0

In [44]:
# 내림차순 정렬
df.sort_index(ascending=False).head()

,이름,포지션,나이,국가,팀,선수 몸 값
49,Leroy Sané,Right Winger,28,Germany,Bayern Munich,70.0
48,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,70.0
47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,70.0
46,Trent Alexander-Arnold,Right-Back,25,England,Liverpool FC,70.0
45,Alessandro Bastoni,Centre-Back,25,Italy,Inter Milan,70.0

In [45]:
# 나이 많은 순 으로 10명의 선수 보여주기
# 내림차순
df.sort_values('나이',ascending=False).head(10)

,이름,포지션,나이,국가,팀,선수 몸 값
12,Harry Kane,Centre-Forward,30,England,Bayern Munich,110.0
30,Bernardo Silva,Attacking Midfield,29,Portugal,Manchester City,80.0
48,Bruno Fernandes,Attacking Midfield,29,Portugal,Manchester United,70.0
49,Leroy Sané,Right Winger,28,Germany,Bayern Munich,70.0
47,James Maddison,Attacking Midfield,27,England,Tottenham Hotspur,70.0
11,Rodri,Defensive Midfield,27,Spain,Manchester City,110.0
29,Rúben Dias,Centre-Back,27,Portugal,Manchester City,80.0
35,Nicolò Barella,Central Midfield,27,Italy,Inter Milan,75.0
32,Luis Díaz,Left Winger,27,Colombia,Liverpool FC,75.0
41,Gabriel Jesus,Centre-Forward,27,Brazil,Arsenal FC,70.0

In [46]:
# 컬럼명을 바꿔주고 inplace 를 true 로 하여 실제 반영해준다
df.rename(columns = {'팀' : "club"}, inplace=True)
df.head()

,이름,포지션,나이,국가,club,선수 몸 값
0,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,180.0
1,Erling Haaland,Centre-Forward,23,Norway,Manchester City,180.0
2,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,180.0
3,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0
4,Bukayo Saka,Right Winger,22,England,Arsenal FC,130.0

In [47]:
#컬럼 추가
df['시장가치(억)'] = df['선수 몸 값']*13
df.head()

,이름,포지션,나이,국가,club,선수 몸 값,시장가치(억)
0,Jude Bellingham,Attacking Midfield,20,England,Real Madrid,180.0,2340.0
1,Erling Haaland,Centre-Forward,23,Norway,Manchester City,180.0,2340.0
2,Kylian Mbappé,Centre-Forward,25,France,Paris Saint-Germain,180.0,2340.0
3,Vinicius Junior,Left Winger,23,Brazil,Real Madrid,150.0,1950.0
4,Bukayo Saka,Right Winger,22,England,Arsenal FC,130.0,1690.0

In [48]:
#컬럼 삭제
df.drop(columns =["선수 몸 값"], inplace=True)