In [2]:
import pandas as pd

df = pd.DataFrame({
    'brand': ['Yum Yum', 'Yum Yum', 'Indomie', 'Indomie', 'Indomie'],
    'style': ['cup', 'cup', 'cup', 'pack', 'pack'],
    'rating': [4, 4, 3.5, 15, 5]
})
df

     brand style  rating
0  Yum Yum   cup     4.0
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [3]:
# 행의 값이 중복되는 지 체크 
df.duplicated()

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [6]:
# 맨 첫번째 발견된 값을 중복 값으로 인식
# df.duplicated(keep="first") => 맨 첫 번째 값 제외하고 나머지 중복 체크 
df.duplicated(keep="last")

0     True
1    False
2    False
3    False
4    False
dtype: bool

In [7]:
# 특정 철럼에 대해서 중복처리
df.duplicated(subset=['brand','style'])

0    False
1     True
2    False
3     True
4     True
dtype: bool

In [9]:
# 중복 삭제
df.drop_duplicates()

     brand style  rating
0  Yum Yum   cup     4.0
2  Indomie   cup     3.5
3  Indomie  pack    15.0
4  Indomie  pack     5.0

In [11]:
df.drop_duplicates(subset=['brand','style'], keep='last')

     brand style  rating
1  Yum Yum   cup     4.0
2  Indomie   cup     3.5
4  Indomie  pack     5.0